<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home work 23</title>


</head>
<body>
<style>
    .error {
        color: red;
    }

    .success {
        color: greenyellow;
    }

    body {
        height: 50000px;
        display: flex;
        fd

    }
    .box{
        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
        width: 200px;
        height: 500px;
        background: palegoldenrod;
        margin-left: 50px;
    }
    button{
    }

</style>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div id="app">
<hr>
    <div class="box">
        bucketList1
    <ul>
        <li v-for="job in bucketList1"
            v-bind="bucketList2.text">
            {{job.text}}
        </li>
    </ul>
        <button @click="onClick1()">transfer</button>
    </div>


    <div class="box">
        bucketList2
    <ul>
        <li v-for="job in bucketList2"
            v-bind="bucketList1.text">
            {{job.text}}
        </li>
    </ul>
        <button @click="onClick2()">transfer</button>
    </div>


</div>


<script src="wh23.js"></script>
</body>
</html>