body {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;

}
.goods{
    display: flex;
    width: 500px;
    height: 500px;
    font-size: 30px;
    color: crimson;
    border: 2px solid green;
    margin: 0 auto;
    margin-top: 100px;
}